# ajLeaderboards Read-Only MySQL Credentials (READ-ONLY ACCESS REQUIRED ONLY)
MYSQL_HOST=168.119.102.138
MYSQL_PORT=3306
MYSQL_DATABASE=s168_MainStore
MYSQL_USER=u168_50U0Rj2EOa
MYSQL_PASSWORD=m@gOsxCyU2.=DaCka@THfhcf

# Supabase Credentials
SUPABASE_URL=https://feyonbiluperwjnqpyqf.supabase.co
SUPABASE_KEY=sb_publishable_1ZOHDLxd0hDRv1KNllmUiQ_xzRNDUK8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZleW9uYmlsdXBlcndqbnFweXFmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NjI3NzM4NywiZXhwIjoyMTAxODUzMzg3fQ.3r5-pezh0GGC0AsktF_glVpCSVMtl-vOLbWSup7n7uM
SUPABASE_TABLE=minecraft_leaderboards

# Secret Synchronization Token for Edge Function & API Authentication
SUPABASE_SYNC_TOKEN=fxcdr5ffdrhhythgytyhttf

# Synchronization Settings
SYNC_INTERVAL_SECONDS=60
SYNC_BATCH_SIZE=100

# Public Vercel / Next.js Variables
NEXT_PUBLIC_SUPABASE_URL=https://sce6tjpwseiyai5m7nx5ze.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZleW9uYmlsdXBlcndqbnFweXFmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYyNzczODcsImV4cCI6MjEwMTg1MzM4N30.HX1IcmCeWFew4HpRO91I1ehCbxBhX2kbcyvy_Q3_OIs
